<nav>
    <div class="site-title">
        <a href="/"><h1>Sager Hemi</h1></a>
        <p>Blog application using Express & MongoDB</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create</a></li>
    </ul>
</nav>